.home {
    transition: background-image 1s ease-in-out;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 

    width: 100%;
    min-height: 100vh;
}

.participants-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    color: white;
}

.participant {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 

}

.participant-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid orange;
    object-fit: cover;
    margin-bottom: 10px;
}

.participant-info {
    max-width: 200px;
}

.participant-name {
    font-size: 1.2rem;
    margin: 0;
}

.participant-role {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0;
}

.participant-description {
    font-size: 0.9rem;
    margin: 0;
}

.custom-menu {
    background: transparent !important; 
    color: white !important; 
    justify-content: flex-end; 
}

.custom-menu .ant-menu-item {
    color: white !important; 
}

.custom-menu .ant-menu-item:hover,
.custom-menu .ant-menu-item-active,
.custom-menu .ant-menu-item-selected {
    border-bottom: 2px solid orange !important; 
    background: transparent !important; 
}

.custom-menu .ant-menu-item::after {
    display: none !important; 
}

.title {
    color: white; 
    font-size: 3rem; 
    font-weight: bold; 
    margin-bottom: 2rem; 
    align-self: flex-start;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card {
    background: rgba(255, 255, 255, 0.8); 
    padding: 2rem; 
    border-radius: 10px; 
    max-width: 600px; 
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 2rem; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
}

.timeline-year {
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.timeline-point {
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.timeline-achievement {
    text-align: center;
    max-width: 100px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .participants-container {
        grid-template-columns: 1fr;
    }

    .timeline {
        flex-direction: column;
        align-items: center; /* Alinhamento centralizado */
    }

    .timeline-item {
        align-items: center; /* Alinhamento centralizado */
        margin-bottom: 20px;
    }

    .timeline::before {
        top: 0;
        bottom: auto;
        left: 50%;
        width: 2px;
        height: 100%;
        transform: translateX(-50%); /* Centralizar a linha vertical */
    }

    .timeline-item::before {
        top: 50%;
        bottom: auto;
        left: 50%;
        width: 20px;
        height: 2px;
        transform: translate(-50%, -50%); /* Centralizar os pontos */
    }

    .title {
        font-size: 2rem;
    }

    .card {
        padding: 1rem;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.5rem;
    }

    .participant-image {
        width: 100px;
        height: 100px;
    }

    .participant-info {
        max-width: 150px;
    }

    .participant-name {
        font-size: 1rem;
    }

    .participant-role {
        font-size: 0.9rem;
    }

    .participant-description {
        font-size: 0.8rem;
    }

    .card {
        padding: 0.5rem;
    }
}