.language-switch {
    margin-left: auto;
    
}

.custom-menu {
    background: transparent !important; 
    background-color: transparent !important;
    justify-content: flex-end; 
}

.custom-menu .ant-menu-item {
    color: white !important; 
}

.custom-menu .ant-menu-item:hover,
.custom-menu .ant-menu-item-active,
.custom-menu .ant-menu-item-selected {
    border-bottom: 2px solid orange !important; 
    background: transparent !important; 
}

.custom-menu .ant-menu-item::after {
    display: none !important; 
}